<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>后台管理系统</title>
		<link rel="stylesheet" type="text/css" href="/layui-v2.6.8/layui/css/layui.css" />
		<script src="/layui-v2.6.8/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			h1{
				text-align: center;
				}
		</style>
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header layui-bg-cyan">
				<ul class="layui-nav layui-bg-cyan ">
					<li class="layui-nav-item layui-this"><a href="#">景点信息</a></li>
					<li class="layui-nav-item"><a th:href="@{/addInfo}">景点添加</a></li>
					<li class="layui-nav-item "><a th:href="@{imgUpload}">图片上传</a></li>
					<li class="layui-nav-item "><a th:href="@{/pay}">订单信息</a></li>
					<li class="layui-nav-item "><a th:href="@{/purchas}">购买信息</a></li>
				</ul>
				<ul class="layui-nav layui-bg-cyan layui-layout-right">
					<li class="layui-nav-item layui-hide layui-show-md-inline-block">
						<a th:href="@{/loginout}">
							
							登出
						</a>
						
					</li>

				</ul>
			</div>
			<div class="layui-body">
				<h1>景点后台首页</h1>
				<div class="demoTable">
					搜索景点
					<div class="layui-inline">
						<input class="layui-input" name="id" id="searchReload" autocomplete="off" />
					</div>
					<button type="button" class="layui-btn" id="searchBtn">搜索</button>
				</div>
				<table id="dataView" lay-filter='topCheck' data-type="reload"></table>
				<!-- <script type="text/html" id="toolbar">
					<div class="layui-btn-container">
						// lay-event 给元素绑定事件名
						<button  class="layui-btn layui-btn-sm" lay-event="getCheckData">
							获取选中行数据
						</button>
						<button  class="layui-btn layui-btn-sm" lay-event="getCheckLength">
							获取选中数目
						</button>
						<button  class="layui-btn layui-btn-sm" lay-event="isAll">
							验证是否全选
						</button>
						
					</div>
				</script> -->
				<script type="text/html" id="Handle_bar">
					<a class="layui-btn layui-btn-xs" lay-event="update">更新</a>
					<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
				</script>
			</div>
		</div>


		<script type="text/javascript">
			//导航依赖于element模块
			layui.use(['element', 'table'], function() {
				var element = layui.element;
				var table = layui.table;
				var $ = layui.jquery;
				//加载
				table.render({
					elem: "#dataView",
					url: "/scenic/queryMsg", //数据接口
					page: true,
					loading: true,
					cols: [
						[
							//设置序列号列
							{
								field: 'aa',
								type: 'numbers'
							},
							// //设置复选框列
							// {
							// 	field: 'aa',
							// 	type: 'checkbox'
							// },
							{
								field: 'id',
								title: '用户编号',
								sort: true,
								width: 80,
								hide: true
							},
							{
								field: 'name',
								title: '景点名',
								width: 100,
								edit: 'text'
							},
							{
								field: 'list',
								title: 'list',
								sort: true,
								width: 100,
								edit: 'text'
							},
							{
								field: 'picturePath',
								title: '图片路径',
								width: 100,
								edit: 'text'
							},
							{
								field: 'audioPath',
								title: '音频路径',
								edit: 'text'
							},
							{
								field: 'text',
								title: '解说词',
								edit: 'text'
							},
							//设置表头工具栏
							{
								field: '操作',
								toolbar: '#Handle_bar'
							}
						]
					],
					toolbar: "#toolbar"
				});


				//头监听事件
				// 语法:
				// 	table.on('tollbar(demo)',function(obj){

				// 	});
				// 注:demo表示的是容器上设置的lay-filter属性值
				// table.on('toolbar(topCheck)', function(obj) {
				// 	// console.log(obj);
				// 	//再obj.config对象中可以获取id属性值,即表示当前容器的id属性值,也就是demo
				// 	//获取当前表格被选中记录对象,返回数据
				// 	var checkStatus = table.checkStatus(obj.config.id);
				// 	console.log(checkStatus)
				// 	//获取事件名
				// 	var eventName = obj.event;
				// 	//判断事件名,执行对应的代码
				// 	switch (eventName) {
				// 		case "getCheckData":
				// 			//获取被选中的记录的数组
				// 			var arr = checkStatus.data;
				// 			//将数组解析为字符串
				// 			layer.alert(JSON.stringify(arr));
				// 			break;
				// 		case "getCheckLength":
				// 			var arr = checkStatus.data;
				// 			layer.alert("选中数据的长度" + arr.length + "条记录");
				// 			break;
				// 		case "isAll":
				// 			//通过isAll属性判断是否全选
				// 			var flag = checkStatus.isAll;
				// 			var str = flag ? '全选' : '未全选';
				// 			layer.msg(str);
				// 			break;
				// 		default:
				// 			break;
				// 	}
				// });

				/**
				 * 监听行工具栏事件
				 */
				table.on('tool(topCheck)', function(obj) {
					//得到当前操作行的相关信息
					var tr = obj.data;
					console.log(tr);
					//得到事件名
					var eventName = obj.event;


					//判断事件名,执行对应的方法
					if (eventName == 'del') {
						var id = tr.id;
						layer.confirm("您确认要删除吗？", function(index) {
							//删除指定tr del()

							$.ajax({
								url: '/scenic/deleteMsg',
								data: {
									'id': id
								},
								traditional: true,
								async: false,
								type: "post",
								dataType: "jsonp",
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded'
								},
								success: function() {
									// 删除成功后刷新页面
									window.location.reload();
								},
								error: function(data) {

									console.log(data);
									// window.location.reload();
								},
							});
							// obj.del();
							//关闭当前弹出层(index为当前选中栏的下标)
							layer.close(index);

						});
					} else if (eventName === 'update') {
						//输入框
						var id = tr.id;
						var name = tr.name;
						var list = tr.list;
						var picturePath = tr.picturePath;

						var audioPath = tr.audioPath;
						// layer.prompt({
						// 	//表单元素的类型 0 = 文本框  1 = 密码框 2 = 文本域
						// 	formType: 0,
						// 	value: tr.username //设置输入框的值
						// }, 
						$.ajax({
							url: '/scenic/updateMsg',
							data: {
								'id': id,
								'name': name,
								'list': list,
								'picturePath': picturePath,
								'audioPath': audioPath,
							},
							async: false,
							type: "post",
							dataType: "jsonp",
							traditional: true,
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							},

						});
						// function(value, index) {
						// 	//修改指定单元格的值
						// 	//value表示修改后的值
						// 	obj.update({
						// 		name: value
						// 	});
						//关闭弹出层
						// layer.close(index);
						// });
					}
				});
				/**
				 * 监听单元格编辑事件
				 * 	表头设置edit属性，单元格编辑类型(默认不开启)目前只支持: text(输入框)
				 */
				table.on('edit(test)', function(obj) {
					console.log(obj);
					//获取修改后的值
					var value = obj.value;
					//得到当前修改的tr对象
					var data = obj.data;
					//得到修改的字段名
					var field = obj.field;
					layer.msg('[id：' + data.id + ']的' + field + "字段的值修改为" + value);
				});

				/**
				 * 给指定元素绑定事件
				 */
				$(document).on('click', '#searchBtn', function() {
					//获取搜索文本框的值
					var searchTxt = document.getElementById("searchReload");

					//调用数据表格的重载方法
					table.reload('dataView', {
						url: "/scenic/searchByName",
						where: {
							//设定需要传递的参数
							name: searchTxt.value,

						},
						dataType: "jsonp",
						method: "post",

					});
				});

			});
			// });
		</script>
	</body>
</html>
